.balance {
  background-color: $soft-red;
  padding: $padding;
  border-radius: $border-radius;
  color: $very-pale-orange;
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: $fs;
    font-weight: $fw-normal;
  }
}

.total {
  font-size: 1.75rem;
  font-weight: $fw-bold;
}
