@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$darkish-grayish-cyan: hsl(186, 14%, 43%);
$light-grayish-cyan: hsl(184, 14%, 56%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

$background: hsl(173, 71%, 93%);
$hover: hsl(172, 78%, 75%);
$selected: hsl(172, 72%, 41%);

$fs-form-inputs: 24px;
$ff: "Space Mono", monospace;
$fw: 700;
