@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  /*primary colours*/
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /*neutral colours*/
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);

  /*typography*/
  --fs: 14.5px;

  --ff: "Poppins", sans-serif;

  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: var(--ff);
  font-size: var(--fs);
  font-weight: var(--fw-normal);
  background-color: var(--very-light-gray);
  text-align: center;
  color: var(--grayish-blue);
  margin: 3.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: var(--fw-light);
  margin-bottom: 1rem;
  font-size: 1.55rem;
}

.h1-bold,
h2 {
  font-weight: var(--fw-bold);
  color: var(--very-dark-blue);
  display: block;
}

.about {
  margin-bottom: 3rem;
}

.feature {
  background-color: white;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  border-top: 5px solid;
  padding: 1.65rem;
  text-align: left;
  box-shadow: 0 5px 15px var(--grayish-blue);
}

.feature > p {
  margin-bottom: 2rem;
}

.feature > div:first-of-type {
  display: flex;
  justify-content: flex-end;
}

.articles > div:nth-of-type(1) > .feature {
  border-color: var(--cyan);
}

.articles > div:nth-of-type(2) > .feature:nth-of-type(1) {
  border-color: var(--red);
}

.articles > div:nth-of-type(2) > .feature:nth-child(2) {
  border-color: var(--orange);
}

.articles > div:nth-of-type(3) > .feature {
  border-color: var(--blue);
}

@media (min-width: 50em) {
  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
  }

  h1 {
    font-size: 2rem;
  }

  .header {
    max-width: 500px;
    margin: 0 auto;
  }

  .articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    place-items: center;
  }

  .feature {
    margin: 0;
    max-width: 350px;
  }

  .articles > div:nth-of-type(2) > .feature:nth-of-type(1) {
    margin-bottom: 2rem;
  }
}
