#close-btn {
  width: 26px;
  height: 26px;
  padding: 0;
  margin-right: 0;
  margin-left: auto;
}

.menu-options {
  button {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
