.nav-menu {
  background-color: $white;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  position: absolute;
  top: 120px;
  padding: $card-padding;
  width: calc(100% - 2 * $card-padding);

  a {
    text-decoration: none;
    color: $dark-grayish-blue;
    font-size: 1.35rem;
  }

  a:hover {
    color: $very-dark-grayish-blue;
  }

  a:last-of-type {
    background-color: $yellow;
    color: black;
    font-family: $ff-headers;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    border-radius: 2rem;
  }

  a:last-of-type:hover {
    color: $very-dark-grayish-blue;
    background-color: $soft-yellow;
  }
}

.nav-menu::after {
  content: "";
  position: absolute;
  top: -$nav-triangle;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: $nav-triangle solid $white;
  border-left: $nav-triangle solid transparent;
}

.closed {
  display: none;
}

.opened {
  display: flex;
}

@media (min-width: $min-desktop-width) {
  .nav-menu {
    display: flex;
    background-color: transparent;
    flex-direction: row;
    gap: 2rem;
    grid-area: top-right;
    position: static;
    padding: 0;
    justify-content: flex-end;
    justify-self: flex-end;
    width: auto;

    a {
      font-size: $fs;
      color: $white;
    }

    a:last-of-type {
      color: black;
      background-color: $white;
      padding: 0.5rem 1rem;
    }

    a:last-of-type:hover {
      color: $white;
      background-color: $opacity-white;
    }
  }

  .nav-menu::after {
    border-color: transparent;
  }
}
