@import "./cssReset";
@import "./variables";
@import "./headerStyles";
@import "./mainStyles";
@import "./footerStyles";

h1,
h2,
h3,
h4 {
  font-family: $ff-headers;
  color: $very-dark-desaturated-blue;
}

p,
a {
  font-family: $ff-text;
  font-weight: $fw-normal;
  color: $very-dark-desaturated-blue;
}

body {
  background-color: $background;
}
