@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

@mixin button($margin-top) {
  margin-top: $margin-top;
  padding: 0.725rem;
  border-radius: 0.45rem;
  background-color: $very-dark-violet;
  color: $light-grayish-violet;
  border: none;
  cursor: pointer;
}

$linear-gradient1: hsl(249, 99%, 64%);
$linear-gradient2: hsl(278, 94%, 30%);

$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);

$fs: 18px;
$ff: "Space Grotesk", sans-serif;
$fw: 500;

$card-front-pos-top-mobile: 85px;
$card-front-pos-left-mobile: 0;
$card-back-pos-right-mobile: 0;

$card-front-pos-top-desktop: 25vh;
$card-front-pos-left-desktop: 18vw;

$card-back-pos-top-desktop: 55vh;
$card-back-pos-left-desktop: 20vw;
