@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  /*primary colours*/
  --cyan: hsl(179, 62%, 43%);
  --off-cyan: hsla(179, 62%, 43%, 0.699);
  --bright-yellow: hsl(71, 73%, 54%);

  /*neutral colours*/
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(215, 7%, 49%);

  /*typography*/
  --fs: 1rem;

  --ff: "Karla", sans-serif;

  --fw-normal: 400;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: var(--ff);
  font-size: var(--fs);
  font-weight: var(--fw-normal);
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--cyan);
  font-size: 1.5rem;
}

p,
li {
  color: var(--light-gray);
}

.card {
  margin: 2rem 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 10px 20px hsl(208, 9%, 71%);
}

.subheading1 {
  color: var(--bright-yellow);
  line-height: 1.35rem;
  font-size: 1.15rem;
}

.subheading2 {
  color: var(--light-gray);
  font-size: 1.25rem;
}

.card > section {
  padding: 1.5rem 1.35rem;
  display: grid;
  row-gap: 0.75rem;
}

.description {
  background-color: white;
}

.description > p {
  color: var(--grayish-blue);
}

.subscription {
  background-color: var(--cyan);
}

.subscription-price {
  color: var(--grayish-blue);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.price {
  color: var(--light-gray);
  font-size: 2.25rem;
  font-weight: var(--fw-bold);
}

.subscription > p:nth-of-type(2) {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.sign-up-btn {
  cursor: pointer;
  border: none;
  width: 100%;
  background-color: var(--bright-yellow);
  color: var(--light-gray);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 5px 20px hsl(179, 59%, 29%);
}

.why-us {
  background-color: var(--off-cyan);
}

ul {
  list-style-type: none;
  padding: 0;
}

@media (min-width: 50em) {
  html,
  body {
    height: 100%;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.65fr 1fr;
    grid-template-areas:
      " first first"
      "second third";
    max-width: 625px;
  }

  .card > section {
    padding: 2rem;
  }

  .description {
    grid-area: first;
  }

  .subscription {
    grid-area: second;
  }

  .why-us {
    grid-area: third;
  }
}
